/* Base styles for the navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.portfolioTitle {
  font-weight: bold;
  font-size: 2rem;
  color: rgb(254, 254, 254);
}

/* Menu styles */
.menu {
  display: flex; /* Show menu by default on larger screens */
  gap: 1rem;
}

.menu.mobile {
  display: none; /* Hide menu on small screens */
}

.hamburger {
  display: none; /* Hide hamburger by default */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
  color: white;
}

.hamburger div {
  width: 30px;
  height: 4px;
  background-color: rgb(16, 16, 16);
  border-radius: 5px;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .menu {
    display: none; /* Hide menu on small screens */
  }

  .hamburger {
    display: flex; /* Show hamburger on small screens */
  }

  .menu.show {
    display: flex; /* Show menu when active */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #1f1e1e;
    padding: 1rem;
    gap: 1rem;
  }
}
