.navLink {
  display: block;
  padding: 8px 16px;
  color: #adb7be;
  font-size: 1rem; /* Adjust as needed */
  border-radius: 0.375rem; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  transition: color 0.2s ease-in-out;
}

.navLink:hover {
  color: rgb(213, 61, 170);
}

.navLink.smText {
  font-size: 1.25rem; /* sm:text-xl equivalent */
}

/* Mobile-responsive text size */
@media (max-width: 640px) {
  .navLink.smText {
    font-size: 1rem; /* Default font size on small screens */
  }
}
